################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DLL References.JPG
/Files.JPG
/Sitecore.ContentModerator/Sitecore.ContentModerator/obj
/Sitecore.ContentModerator/Sitecore.ContentModerator/bin