<?xml version="1.0"?>
<sitecore>
  <settings>
    <setting name="Sitecore.ContentModerator.SubscriptionKey" value="285428d0a06d4a668c82b5b25cf5dc7e" />
    <setting name="Sitecore.ContentModerator.TextProcessing.AutoCorrect" value="true"/>
    <setting name="Sitecore.ContentModerator.TextProcessing.Urls" value="true"/>
    <setting name="Sitecore.ContentModerator.TextProcessing.PII" value="true"/>
  </settings>
  <commands>
    <command name="ModerateContent:ModerateContentCommand" type="Sitecore.ContentModerator.Helpers.ModerateCommand, Sitecore.ContentModerator"/>
  </commands>
</sitecore>